.ant-typography-warning{
  font-size: 30px;
}

.codigo-equipo{
  margin-top: 10px;
}

.button{
  background-color:  #f6e9d3;
}

.button1{
  background-color: #3f6600;
  color: white;
  
}

.button2{
  background-color: #f55733;
}

.button3{
  background-color: #759eff;
}

.button4{
  background-color: #c5c6c8;
}

.button5{
  background-color:#b2e2f2;
}

.button6{
  background-color:#3b8cde;
}