.firmarOT {
    border: 1px solid black;
    width: 400px;
    height: 200px;
}

.limpiar {
    background-color: #fadb14;
}

.guardar {
    background-color: #3f6600;
}

.ant-typography-warning{
    font-size: 30px;
}
  
.botoncargo {
    width: 115px !important;
    height: 40px !important;
    font-size: 15px !important;
}
  
.botoneliminar {
  width: 115px !important;
  height: 40px !important;
  font-size: 15px !important;
  background-color: #f55733 !important;
}
  
.texto {
  font-size: 16px !important;
}