
  
.form {
    width: 310px;
}

.listgroup {
    background-color: #f5f5f5;
    text-align: center;
}

.listgroupitem {
    background-color: #f5f5f5;
    text-align: center;
}

.button {
    background-color: #0277bd;
    font-weight: bold;
}

.card-body {
    margin-top: 0px;
}

.footer {
    text-align: center;
    margin-top: 40px;
}

.tamañoletra {
    font-size: 14px !important;
}